{{ $blog := .blog }}
{{ $page := .page }}

<div class="article-list-item" itemscope itemprop="blogblog">
  {{ $preview := $blog.Params.header.preview | default true }}
  {{ if and $blog.Params.header.image $preview }}
  <a href="{{ $blog.Permalink }}">
    <img src="{{ "/img/" | relURL }}{{ $blog.Params.header.image }}" class="article-banner" itemprop="image">
  </a>
  {{end}}
  <h3 class="article-title" itemprop="name">
    <a href="{{ $blog.Permalink }}" itemprop="url">{{ $blog.Title }}</a>
  </h3>
  {{ partial "article_metadata" (dict "content" $blog "is_list" 1) }}
  <div class="article-style" itemprop="articleBody">
    {{ if $blog.Params.summary }}
    <p>{{ printf "%s" $blog.Params.summary | markdownify }}</p>
    {{ else if $blog.Truncated }}
    {{ $blog.Summary }}
    {{ else }}
    {{ $blog.Content }}
    {{ end }}
  </div>
  <p class="read-more">
    <a href="{{ $blog.Permalink }}" class="btn btn-primary btn-outline">
      {{ i18n "continue_reading" }}
    </a>
  </p>
</div>
